BANK 1 VCCIO 1.5 V;
BANK 2 VCCIO 1.5 V;
BANK 3 VCCIO 1.5 V;
BANK 4 VCCIO 1.5 V;
IOBUF PORT "CLK" IO_TYPE=LVCMOS15 ;
LOCATE COMP "CLK" SITE "A18" ;
FREQUENCY PORT "CLK" 100.000000 MHz ;
IOBUF PORT "led" IO_TYPE=LVCMOS15 ;
LOCATE COMP "led" SITE "A8" ;

RVL_ALIAS "clk_50" "clk_50"; 
LOCATE COMP "CLK" SITE "A18" ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS15 ;
FREQUENCY PORT "CLK" 100.000000 MHz ;
USE PRIMARY NET "CLK" ;
DEFINE PORT GROUP "IL07_GRP" "IL07[*]" ;
IOBUF GROUP "IL07_GRP" IO_TYPE=LVCMOS15 ;
LOCATE COMP "IL07[0]" SITE "B8" ;
LOCATE COMP "IL07[1]" SITE "D8" ;
LOCATE COMP "IL07[2]" SITE "C8" ;
LOCATE COMP "IL07[3]" SITE "F8" ;
LOCATE COMP "IL07[4]" SITE "E8" ;
LOCATE COMP "IL07[5]" SITE "B7" ;
LOCATE COMP "IL07[6]" SITE "A7" ;
LOCATE COMP "IL07[7]" SITE "D7" ;
LOCATE COMP "IL07[8]" SITE "C7" ;
LOCATE COMP "IL07[9]" SITE "A4" ;
LOCATE COMP "IL07[10]" SITE "A5" ;
LOCATE COMP "IL07[11]" SITE "A2" ;
LOCATE COMP "IL07[12]" SITE "A3" ;
LOCATE COMP "IL07[13]" SITE "B3" ;
LOCATE COMP "IL07[14]" SITE "B4" ;
LOCATE COMP "IL07[15]" SITE "D10" ;
LOCATE COMP "IL07[16]" SITE "C10" ;
LOCATE COMP "IL07[17]" SITE "D11" ;
LOCATE COMP "IL07[18]" SITE "C11" ;
LOCATE COMP "IL07[19]" SITE "C9" ;
LOCATE COMP "IL07[20]" SITE "A9" ;
LOCATE COMP "IL07[21]" SITE "F9" ;
LOCATE COMP "IL07[22]" SITE "D9" ;
LOCATE COMP "IL07[23]" SITE "C17" ;
LOCATE COMP "IL07[24]" SITE "D17" ;
LOCATE COMP "IL07[25]" SITE "H6" ;
LOCATE COMP "IL07[26]" SITE "H5" ;
LOCATE COMP "IL07[27]" SITE "J4" ;
LOCATE COMP "IL07[28]" SITE "K4" ;
LOCATE COMP "IL07[29]" SITE "L2" ;
LOCATE COMP "IL07[30]" SITE "L3" ;
LOCATE COMP "IL07[31]" SITE "C1" ;
LOCATE COMP "IL07[32]" SITE "D1" ;
LOCATE COMP "IL07[33]" SITE "F3" ;
LOCATE COMP "IL07[34]" SITE "E3" ;
LOCATE COMP "IL07[35]" SITE "N3" ;
LOCATE COMP "IL07[36]" SITE "N4" ;
LOCATE COMP "IL07[37]" SITE "L7" ;
LOCATE COMP "IL07[38]" SITE "L6" ;
LOCATE COMP "IL07[39]" SITE "P6" ;
LOCATE COMP "IL07[40]" SITE "P7" ;
LOCATE COMP "IL07[41]" SITE "N6" ;
LOCATE COMP "IL07[42]" SITE "N7" ;
LOCATE COMP "IL07[43]" SITE "K5" ;
LOCATE COMP "IL07[44]" SITE "L4" ;
LOCATE COMP "IL07[45]" SITE "K6" ;
LOCATE COMP "IL07[46]" SITE "K7" ;
LOCATE COMP "IL07[47]" SITE "K2" ;
LOCATE COMP "IL07[48]" SITE "J1" ;
LOCATE COMP "IL07[49]" SITE "K1" ;
LOCATE COMP "IL07[50]" SITE "L1" ;
LOCATE COMP "IL07[51]" SITE "J3" ;
LOCATE COMP "IL07[52]" SITE "K3" ;
LOCATE COMP "IL07[53]" SITE "H2" ;
LOCATE COMP "IL07[54]" SITE "H3" ;
LOCATE COMP "IL07[55]" SITE "F1" ;
LOCATE COMP "IL07[56]" SITE "H1" ;
LOCATE COMP "IL07[57]" SITE "F2" ;
LOCATE COMP "IL07[58]" SITE "E1" ;
LOCATE COMP "IL07[59]" SITE "B1" ;
LOCATE COMP "IL07[60]" SITE "C2" ;
LOCATE COMP "IL07[61]" SITE "D3" ;
LOCATE COMP "IL07[62]" SITE "D2" ;
LOCATE COMP "IL07[63]" SITE "F4" ;
LOCATE COMP "IL07[64]" SITE "F5" ;
LOCATE COMP "IL07[65]" SITE "D4" ;
LOCATE COMP "IL07[66]" SITE "E4" ;
LOCATE COMP "IL07[67]" SITE "C4" ;
LOCATE COMP "IL07[68]" SITE "C3" ;
LOCATE COMP "IL07[69]" SITE "C5" ;
LOCATE COMP "IL07[70]" SITE "D5" ;
DEFINE PORT GROUP "IL68_GRP" "IL68[*]" ;
IOBUF GROUP "IL68_GRP" IO_TYPE=LVCMOS15 ;
LOCATE COMP "IL68[0]" SITE "U4" ;
LOCATE COMP "IL68[1]" SITE "V6" ;
LOCATE COMP "IL68[2]" SITE "V7" ;
LOCATE COMP "IL68[3]" SITE "AB1" ;
LOCATE COMP "IL68[4]" SITE "AC1" ;
LOCATE COMP "IL68[5]" SITE "AE5" ;
LOCATE COMP "IL68[6]" SITE "AE4" ;
LOCATE COMP "IL68[7]" SITE "AD6" ;
LOCATE COMP "IL68[8]" SITE "AE6" ;
LOCATE COMP "IL68[9]" SITE "V1" ;
LOCATE COMP "IL68[10]" SITE "W1" ;
LOCATE COMP "IL68[11]" SITE "T1" ;
LOCATE COMP "IL68[12]" SITE "U1" ;
LOCATE COMP "IL68[13]" SITE "AD1" ;
LOCATE COMP "IL68[14]" SITE "AE1" ;
LOCATE COMP "IL68[15]" SITE "AG3" ;
LOCATE COMP "IL68[16]" SITE "AH3" ;
LOCATE COMP "IL68[17]" SITE "AL1" ;
LOCATE COMP "IL68[18]" SITE "AM2" ;
LOCATE COMP "IL68[19]" SITE "AJ1" ;
LOCATE COMP "IL68[20]" SITE "AK1" ;
LOCATE COMP "IL68[21]" SITE "AG1" ;
LOCATE COMP "IL68[22]" SITE "AH1" ;
LOCATE COMP "IL68[23]" SITE "AC3" ;
LOCATE COMP "IL68[24]" SITE "AB2" ;
LOCATE COMP "IL68[25]" SITE "AC2" ;
LOCATE COMP "IL68[26]" SITE "AE2" ;
LOCATE COMP "IL68[27]" SITE "AD3" ;
LOCATE COMP "IL68[28]" SITE "AE3" ;
LOCATE COMP "IL68[29]" SITE "W2" ;
LOCATE COMP "IL68[30]" SITE "Y1" ;
LOCATE COMP "IL68[31]" SITE "AC5" ;
LOCATE COMP "IL68[32]" SITE "AD4" ;
LOCATE COMP "IL68[33]" SITE "AB3" ;
LOCATE COMP "IL68[34]" SITE "AB4" ;
LOCATE COMP "IL68[35]" SITE "AB5" ;
LOCATE COMP "IL68[36]" SITE "AB6" ;
LOCATE COMP "IL68[37]" SITE "AC7" ;
LOCATE COMP "IL68[38]" SITE "AD7" ;
LOCATE COMP "IL68[39]" SITE "AB7" ;
LOCATE COMP "IL68[40]" SITE "AC6" ;
LOCATE COMP "IL68[41]" SITE "Y4" ;
LOCATE COMP "IL68[42]" SITE "W4" ;
LOCATE COMP "IL68[43]" SITE "Y5" ;
LOCATE COMP "IL68[44]" SITE "W5" ;
LOCATE COMP "IL68[45]" SITE "Y7" ;
LOCATE COMP "IL68[46]" SITE "Y6" ;
LOCATE COMP "IL68[47]" SITE "R1" ;
LOCATE COMP "IL68[48]" SITE "T2" ;
LOCATE COMP "IL68[49]" SITE "W3" ;
LOCATE COMP "IL68[50]" SITE "Y3" ;
LOCATE COMP "IL68[51]" SITE "U2" ;
LOCATE COMP "IL68[52]" SITE "U3" ;
LOCATE COMP "IL68[53]" SITE "N1" ;
LOCATE COMP "IL68[54]" SITE "P1" ;
LOCATE COMP "IL68[55]" SITE "R3" ;
LOCATE COMP "IL68[56]" SITE "T3" ;
LOCATE COMP "IL68[57]" SITE "P2" ;
LOCATE COMP "IL68[58]" SITE "P3" ;
LOCATE COMP "IL68[59]" SITE "R4" ;
LOCATE COMP "IL68[60]" SITE "T5" ;
LOCATE COMP "IL68[61]" SITE "T4" ;
LOCATE COMP "IL68[62]" SITE "U5" ;
LOCATE COMP "IL68[63]" SITE "U6" ;
LOCATE COMP "IL68[64]" SITE "U7" ;
LOCATE COMP "IL68[65]" SITE "R6" ;
LOCATE COMP "IL68[66]" SITE "T6" ;
LOCATE COMP "IL68[67]" SITE "R7" ;
LOCATE COMP "IL68[68]" SITE "T7" ;
LOCATE COMP "IL68[69]" SITE "P5" ;
LOCATE COMP "IL68[70]" SITE "P4" ;
BLOCK JTAGPATHS ;
SYSCONFIG CONFIG_IOVOLTAGE=1.5 ;



DEFINE PORT GROUP "IL12_GRP" "IL12[*]" ;
IOBUF GROUP "IL12_GRP" IO_TYPE=LVCMOS15 ;
LOCATE COMP "IL12[0]" SITE "C23" ;
LOCATE COMP "IL12[1]" SITE "A19" ;
LOCATE COMP "IL12[2]" SITE "B19" ;
LOCATE COMP "IL12[3]" SITE "D18" ;
LOCATE COMP "IL12[4]" SITE "F18" ;
LOCATE COMP "IL12[5]" SITE "E19" ;
LOCATE COMP "IL12[6]" SITE "F19" ;
LOCATE COMP "IL12[7]" SITE "D20" ;
LOCATE COMP "IL12[8]" SITE "F20" ;
LOCATE COMP "IL12[9]" SITE "C19" ;
LOCATE COMP "IL12[10]" SITE "D19" ;
LOCATE COMP "IL12[11]" SITE "A20" ;
LOCATE COMP "IL12[12]" SITE "C20" ;
LOCATE COMP "IL12[13]" SITE "E17" ;
LOCATE COMP "IL12[14]" SITE "F17" ;
LOCATE COMP "IL12[15]" SITE "A23" ;
LOCATE COMP "IL12[16]" SITE "B23" ;
LOCATE COMP "IL12[17]" SITE "C22" ;
LOCATE COMP "IL12[18]" SITE "D22" ;
LOCATE COMP "IL12[19]" SITE "E22" ;
LOCATE COMP "IL12[20]" SITE "F22" ;
LOCATE COMP "IL12[21]" SITE "A22" ;
LOCATE COMP "IL12[22]" SITE "B22" ;
LOCATE COMP "IL12[23]" SITE "B29" ;
LOCATE COMP "IL12[24]" SITE "B30" ;
LOCATE COMP "IL12[25]" SITE "H27" ;
LOCATE COMP "IL12[26]" SITE "H28" ;
LOCATE COMP "IL12[27]" SITE "J29" ;
LOCATE COMP "IL12[28]" SITE "K29" ;
LOCATE COMP "IL12[29]" SITE "L31" ;
LOCATE COMP "IL12[30]" SITE "L30" ;
LOCATE COMP "IL12[31]" SITE "C32" ;
LOCATE COMP "IL12[32]" SITE "D32" ;
LOCATE COMP "IL12[33]" SITE "F30" ;
LOCATE COMP "IL12[34]" SITE "E30" ;
LOCATE COMP "IL12[35]" SITE "N30" ;
LOCATE COMP "IL12[36]" SITE "N29" ;
LOCATE COMP "IL12[37]" SITE "K27" ;
LOCATE COMP "IL12[38]" SITE "K26" ;
LOCATE COMP "IL12[39]" SITE "P27" ;
LOCATE COMP "IL12[40]" SITE "P26" ;
LOCATE COMP "IL12[41]" SITE "L26" ;
LOCATE COMP "IL12[42]" SITE "L27" ;
LOCATE COMP "IL12[43]" SITE "K28" ;
LOCATE COMP "IL12[44]" SITE "L29" ;
LOCATE COMP "IL12[45]" SITE "N27" ;
LOCATE COMP "IL12[46]" SITE "N26" ;
LOCATE COMP "IL12[47]" SITE "K31" ;
LOCATE COMP "IL12[48]" SITE "J32" ;
LOCATE COMP "IL12[49]" SITE "K32" ;
LOCATE COMP "IL12[50]" SITE "L32" ;
LOCATE COMP "IL12[51]" SITE "H31" ;
LOCATE COMP "IL12[52]" SITE "H30" ;
LOCATE COMP "IL12[53]" SITE "F32" ;
LOCATE COMP "IL12[54]" SITE "H32" ;
LOCATE COMP "IL12[55]" SITE "J30" ;
LOCATE COMP "IL12[56]" SITE "K30" ;
LOCATE COMP "IL12[57]" SITE "F31" ;
LOCATE COMP "IL12[58]" SITE "E32" ;
LOCATE COMP "IL12[59]" SITE "B32" ;
LOCATE COMP "IL12[60]" SITE "C31" ;
LOCATE COMP "IL12[61]" SITE "D30" ;
LOCATE COMP "IL12[62]" SITE "D31" ;
LOCATE COMP "IL12[63]" SITE "F29" ;
LOCATE COMP "IL12[64]" SITE "F28" ;
LOCATE COMP "IL12[65]" SITE "D29" ;
LOCATE COMP "IL12[66]" SITE "E29" ;
LOCATE COMP "IL12[67]" SITE "C28" ;
LOCATE COMP "IL12[68]" SITE "D28" ;
LOCATE COMP "IL12[69]" SITE "C29" ;
LOCATE COMP "IL12[70]" SITE "C30" ;
SYSCONFIG CONFIG_IOVOLTAGE=1.5 ;
IOBUF PORT "IL68[25]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[26]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[27]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[28]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[29]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[30]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[31]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[32]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[33]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[34]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[35]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[36]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[37]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[38]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[39]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[40]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[41]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[42]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[43]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[44]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[45]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[46]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[47]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[48]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[49]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[50]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[51]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[52]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[53]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[54]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[55]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[56]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[57]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[58]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[59]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[60]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[61]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[62]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[63]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[64]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[65]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[66]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[67]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[68]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[69]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL68[70]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[25]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[26]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[27]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[28]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[29]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[30]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[31]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[32]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[33]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[34]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[35]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[36]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[37]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[38]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[39]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[40]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[41]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[42]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[43]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[44]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[45]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[46]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[47]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[48]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[49]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[50]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[51]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[52]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[53]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[54]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[55]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[56]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[57]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[58]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[59]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[60]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[61]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[62]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[63]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[64]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[65]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[66]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[67]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[68]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[69]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL07[70]" IO_TYPE=SSTL15_I TERMINATION=50 ;
IOBUF PORT "IL12[25]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[26]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[27]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[28]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[29]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[30]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[31]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[32]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[33]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[34]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[35]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[36]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[37]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[38]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[39]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[40]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[41]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[42]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[43]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[44]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[45]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[46]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[47]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[48]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[49]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[50]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[51]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[52]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[53]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[54]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[55]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[56]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[57]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[58]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[59]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[60]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[61]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[62]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[63]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[64]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[65]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[66]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[67]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[68]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[69]" IO_TYPE=SSTL15_I ;
IOBUF PORT "IL12[70]" IO_TYPE=SSTL15_I ;

IOBUF PORT "IL68[0]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[1]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[2]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[3]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[4]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[5]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[6]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[7]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[8]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[9]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[10]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[11]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[12]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[13]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[14]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[15]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[16]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[17]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[18]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[19]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[20]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[21]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[22]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[23]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL68[24]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[0]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[1]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[2]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[3]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[4]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[5]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[6]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[7]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[8]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[9]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[10]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[11]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[12]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[13]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[14]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[15]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[16]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[17]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[18]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[19]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[20]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[21]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[22]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[23]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL07[24]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[0]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[1]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[2]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[3]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[4]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[5]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[6]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[7]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[8]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[9]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[10]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[11]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[12]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[13]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[14]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[15]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[16]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[17]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[18]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[19]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[20]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[21]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[22]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[23]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "IL12[24]" IO_TYPE=LVCMOS15 ;


IOBUF PORT "error_dect_50[0]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "error_dect_50[1]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "error_dect_50[2]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "error_dect_50[3]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "error_dect_125[0]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "error_dect_125[1]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "error_dect_125[2]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "error_dect_125[3]" IO_TYPE=LVCMOS15 ;
