
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

SYSCONFIG CONFIG_IOVOLTAGE=1.5 ;
BLOCK JTAGPATHS ;

FREQUENCY PORT "CLK" 125.000000 MHz ;
LOCATE COMP "CLK" SITE "A18" ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS15 ;

LOCATE COMP "led" SITE "A8" ;
IOBUF PORT "led" IO_TYPE=LVCMOS15 ;

