
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

SYSCONFIG CONFIG_IOVOLTAGE=1.5 ;
BLOCK JTAGPATHS ;

FREQUENCY PORT "CLK" 125.000000 MHz ;
LOCATE COMP "CLK" SITE "A18" ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS15 ;


LOCATE COMP "PROG_N[0]" SITE "F20" ;
LOCATE COMP "PROG_N[1]" SITE "H30" ;
LOCATE COMP "PROG_N[2]" SITE "D28" ;
LOCATE COMP "PROG_N[3]" SITE "E30" ;
LOCATE COMP "PROG_N[4]" SITE "F18" ;
LOCATE COMP "PROG_N[5]" SITE "C31" ;
LOCATE COMP "PROG_N[6]" SITE "K30" ;
LOCATE COMP "PROG_N[7]" SITE "L29" ;
LOCATE COMP "PROG_N[8]" SITE "AK28" ;
LOCATE COMP "PROG_N[9]" SITE "C32" ;
LOCATE COMP "PROG_N[10]" SITE "H32" ;
LOCATE COMP "PROG_N[11]" SITE "N29" ;
LOCATE COMP "PROG_N[12]" SITE "AG28" ;
LOCATE COMP "PROG_N[13]" SITE "N26" ;
LOCATE COMP "PROG_N[14]" SITE "H5" ;
LOCATE COMP "PROG_N[15]" SITE "K7" ;
IOBUF PORT "PROG_N[0]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[1]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[2]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[3]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[4]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[5]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[6]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[7]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[8]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[9]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[10]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[11]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[12]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[13]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[14]" IO_TYPE=LVCMOS15 ;
IOBUF PORT "PROG_N[15]" IO_TYPE=LVCMOS15 ;

LOCATE COMP "led" SITE "A8" ;
IOBUF PORT "led" IO_TYPE=LVCMOS15 ;

